*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto Slab', serif;
    font-size: 14pt;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #35241d;
    opacity: 0.9;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

header nav a{ 
    text-decoration: none;
    color: rgb(137, 125, 112);
    padding: 10px;
}

header nav a:hover{
    border-bottom: solid 3px rgba(231, 184, 81, 0.6);
    color: #eee;
    
}

.right {
    text-align: right;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.white{
    color: #eee;
}

.social-icons{
    padding-right: 20px;

}
.social-icons img{
    padding: 0 5px;
}

.carousel-item{
    background-color: #805d65;
    height: 400px;
    padding-top: 140px;
}

.carousel-item .carousel-item-text{
    text-align: center;
    text-decoration: none;
    color: white;
}

.carousel-indicators[data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
